body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #322F36;
}

h1, h2, h3, h4, h5, h6 {
  color: #483D8B;
}

#logo {
  width: 200px;
  height: 200px;
}

nav li {
  list-style-type: none; /* remove bullets */
  display: inline;
  margin: 20px 20px;
}

nav { 
  grid-area: nav;
}

.mainNav {
  font-weight: bold;
  text-decoration: none; /* remove link underline */
  font-size: 1.3rem;
  color: rgba(255,255,255,0.55);
}

.mainNavSelected {
  color: #FFFFFF;
}

header h1 {
  color: #191970;
  font-weight: bold;
}

footer {
  color: white;
  background-color: #252426;
  grid-area: footer;
  margin-top: 64px;
  padding-left: 64px;
}

footer h4 {
  color: white;
}
footer address{
font-style: normal;   
}