:root {
  --navbar-height: 60px;
  --bg-standard: #322f36;
  --bg-dark: #252426;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: var(--bg-standard);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #483d8b;
}

header h1 {
  color: #191970;
  font-weight: bold;
}

/* Navbar */
nav#navbar {
  width: 100%;
  background-color: var(--bg-dark);
}

nav#navbar .container {
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
}

nav#navbar .logo {
  height: var(--navbar-height);
  width: var(--navbar-height);
}

nav#navbar ul {
  display: flex;
  flex-direction: row;

  align-items: center;

  padding-left: 64px;
  margin-top: 0;
  margin-bottom: 0;

  list-style-type: none;
}

nav#navbar ul > * + * {
  margin-left: 32px;
}

nav#navbar ul > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
}

nav#navbar ul > li.selected > a {
  color: #ffffff;
}

/* Footer */
footer {
  width:100%;
  color: white;
  background-color: var(--bg-dark);
  margin-top: 64px;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 32px 64px;
}

footer h4 {
  color: white;
}

footer address {
  font-style: normal;
}

/* Utility */
.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}