body {
font-family: Arial, Helvetica, sans-serif;
color: white;
background-color: #322F36;
width: 1440px;
display: inline;
}


nav{
font-size: 40px;
display: flex;
height: 60px;
padding-left: 208px;
padding-right: 208px;
}

#logo {
width: 70px;
height: 70px;
}

nav li {
list-style-type: none; /* remove bullets */
display: inline;
position: relative;
bottom: 27px;
padding: 20px;
height: 60px;
}

/* main nav button not selected */
.mainNav { 
display: inline;
font-weight: ;
text-decoration: none; /* remove link underline */
font-size: 36px;
color: rgba(255,255,255,0.55);
height: 60px;
}

/* main nav button selected */
.mainNavSelected {
color: #FFFFFF;
height: 60px;
}

section{
text-align: center;
font-weight: bold;
font-size: 40px;
height: 60px;
padding-left: 208px;
padding-right: 208px;
}




main{
height: 60px;
}


#content {
display: flex;
border: none;
padding-left: 208px;
padding-right: 208px;
padding-bottom: 60px;
}

#leftcontent {
border: none;
width: 50%;
padding-left: 60px;
padding-left: 60px;
}

#rightcontent {
border: none;
width: 50%;
text-align: justify;
padding-right: 60px;
padding-left: 60px;
font-size: 24px;
font-style: italic;
}

h2.comebybus{
text-align: right;
font-size: 30px;
font-style: italic;
}



#content2 {
display: flex;
border: none;
padding-left: 208px;
padding-right: 208px;
}

#leftcontent2{
border: none;
width: 50%;
padding-left: 60px;
padding-right: 60px; 
font-style: italic;
font-size: 24px;
}

#rightcontent2{
border: none;
width: 50%;
text-align: justify;
padding-right: 60px;
padding-left: 60px;
}

h2.comebycar{
text-align: left;
font-size: 30px;
font-style: italic;
}













#footer {
background-color: #252426;
border: none;
display: flex;
padding-left: 208px;
padding-right: 208px;
line-height: 0.8;
padding-top: 20px;
padding-bottom: 10px;


}

#leftfooter {
border: none;
width: 50%;
}

#rightfooter {
border: none;
width: 50%;
text-align: right;
}
